<div class=" main-clr text-center">
    <div class="mx-auto container text-white min-vh-100 ">
        <img src="./assets/avataaars.png"  class="" alt="">
        <h1 class="text-uppercase fs-1 fw-bolder pt-5">start Framework</h1>
        <div class="d-inline-flex justify-content-between align-items-center mb-3 ">
            <div
             class="line line-bg me-4"></div>
            <i class="fa-solid fa-star"></i>
            <div class="line line-bg ms-4"></div>
        </div>
        <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>

</div>